<head>
	<meta charset="utf-8" />
	<title>Let's make things juicy</title>
	<link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />
	<link rel="stylesheet" href="eurostile/stylesheet.css" type="text/css" charset="utf-8" />
	<style type="text/css">
		body{
			font-family: 'swerve_bold';
		}
	</style>
</head>

<body style="background-color: #000;">
		<div id="container">
			<div id="game">
				<canvas id="myCanvas" width="800" height="600"></canvas>
				<div id="menu">
				</div>
			</div>
		</div>
		<div style="display:none;">
		  <img id="kb_ava" src="kb_avatar.jpg"></img>
			<img id="cd_ava" src="cd_avatar.jpg"></img>
		</div>
	<div style="display:none;" id="scrots"></div>
	<script src="useful.js" ></script>
	<script src="gif.js-master/dist/gif.js" ></script>
	<script src="sound.js" ></script>
	<script src="particle.js" ></script>
	<script src="enemy.js" ></script>
	<script src="bullet.js" ></script>
	<script src="spaceship.js" ></script>
	<script src="game.js" ></script>
	<script src="menus.js" ></script>
	<script src="gunpickup.js" ></script>
	<script src="end.js" ></script>
</body>
