@font-face {
  font-family: 'swerveregular';
  src: url('swerve/swerve-webfont.woff2') format('woff2'),
       url('swerve/swerve-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'swerve_lightitalic';
  src: url('swerve/swerveli-webfont.woff2') format('woff2'),
       url('swerve/swerveli-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'swerve_bold';
  src: url('swerve/swerveb-webfont.woff2') format('woff2'),
       url('swerve/swerveb-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'swerve_bolditalic';
  src: url('swerve/swervebi-webfont.woff2') format('woff2'),
       url('swerve/swervebi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'swerve_italic';
  src: url('swerve/swervei-webfont.woff2') format('woff2'),
       url('swerve/swervei-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'swerve_light';
    src: url('swerve/swervel-webfont.woff2') format('woff2'),
         url('swerve/swervel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  text-align: center;
  margin: 0;
}
#container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
}
#buttons {
  width: 100%;
  height: 100%;
  border-style: none;
  border-color: #0FF;
  position: absolute;
  top: 0;
  left: 0;}
area {
  border-style: none;
  border-color: #FF0
}
#scores {
  font-family: swerve_light;
  color: #fff;
  font-size: large;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#cyanidebutton {
  position: absolute;
  width: 450px;
  height: 85px;
  top: 450px;
  left: 210px;
  z-index:11;
}
#gaeelbutton {
  position: absolute;
  width: 450px;
  height: 90px;
  top: 380px;
  left: 120px;
  z-index:10;
}
#startbutton {
  position: absolute;
  width: 500px;
  height: 150px;
  top: 200px;
  left: 150px;
  z-index:10;
}
#scoretext {
  width: 800px;
}
#resetbutton {
  position: absolute;
  width: 500px;
  height: 30px;
  top: 400px;
  left: 150px;
  z-index:10;
}
#scores {
  display: none;
  width: 800px;
  height: 600px;
  margin:0px;
  text-align: center;
}
#myCanvas{
  
}
#game {
  position: absolute;
  left: -400px;
  top: -300px;
  transform: scale(1);
}
#game.won {
  
}
a{
  cursor: pointer;
}
a.fill-div {
  border: 1px;
  border-color: red;
  border-style: none;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
* {
  
}

#menu{
  z-index: 200;
  cursor: none;
  color: magenta;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
